body{
    background: linear-gradient(#11d161f5, rgba(14, 207, 221, 0.918));
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.instock
{
    /* display:inline-block; */
    text-align:center;
    /* margin-top:7%;
    margin-left:10%;
    margin-right: 10%; */
    /* text-align: center; */
    text-transform:uppercase;
    letter-spacing: 10px;
    color:#f51111;
    -webkit-background-clip: text;
    font-size:300%;
    transition:all .2s;
    width:fit-content;
    font-family: "Monospace", Courier New, Lucida Console;
}
form{
    display: inline-block;
    box-shadow:5px 5px 15px 5px rgb(177, 255, 209);
}
/* */
label, input, select{
    margin:10px !important;
}
.heading
{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 10px;
}
.data{
    width: 250px;
	height: 25px;
    border-radius: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.Heading
{
    /* display:inlie-block; */
    text-align:center;
    /* margin-top:7%;
    margin-left:10%;
    margin-right: 10%; */
    margin-bottom:0;
    margin-top:0;
    padding:25px 170px;
    text-transform:uppercase;
    letter-spacing: 10px;
    color:white;
    font-size:200%;
    /* transition:all .2s; */
    width:10;
    font-family: "Monospace", Courier New, Lucida Console;
    /* animation-name:moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0.3s; */
    background-color:tomato;
    transform:translateY(-38%);
}

.collan{
    float: right;
}
.Heading-table
{
    background-color: rgb(211, 199, 35);
    border-radius: 10px;;
    font-size: 20px;
    margin: 0;
    padding: 0 60px;
}
.data-table
{
    align-content: center;
    /* background-color: tomato; */
    border-radius: 10px;
    font-size: 20px;
    margin: 0;
    padding: 0 60px;
}
.button
{
    border-radius: 10px;
    background-color: tomato;
    font-size: 20px;
}
.button:hover{
    background-color: white;
    color: red;
}
.submit
{
    border-radius: 10px;
    background-color: tomato;
    font-size: 25px;;
}
.submit:hover{
    background-color: rgb(255, 255, 255);
    color: red;;
}
.home
{
    float: left;
    margin-bottom: 20%;
    border-radius: 5px;
    border-color: rgb(255, 230, 0);
}
.overlay 
{
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 0;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.9);
   overflow-x: hidden;
   transition: 0.5s;
}

.overlay-content 
{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a 
{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display:block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus 
{
    color: #f7d707;
}

.overlay .closebtn 
{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
span
{
    color: #ffffff;
}